.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background-overlay);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: black;
    padding: 20px;
    border-radius: var(--border-radius);
    width: 90%;
    max-width: 700px; /* Aumentado para acomodar más contenido */
    box-shadow: var(--box-shadow);
    font-family: var(--font-family);
    max-height: 90vh;
    overflow-y: auto;
}

.modal-content h3 {
    margin-top: 0;
    color: var(--primary-color);
}

.modal-content form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}

.modal-content form input,
.modal-content form textarea,
.modal-content form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: var(--font-family);
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.btn-save {
    background-color: var(--success-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: var(--button-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-save:hover {
    background-color: #28a745;
}

.btn-cancel {
    background-color: #6c757d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: var(--button-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cancel:hover {
    background-color: #5a6268;
}

.error-message {
    background-color: var(--error-color);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.success-message {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}